.AppParent{
    min-height: 86.7vh;
}

.Footerparent{
    background-color: var(--navbar-background-color) !important;
    text-align: center !important;
    height: 40px !important;
    color: white !important;
}

